.inputContainer {
  display: flex;
  align-items: center;
  background: #7955e8;
  border-radius: 16px;
  border: 1px solid #a68eef;
  width: 100%;
  padding: 16px;

  input {
    flex: 1;
    background: transparent;
    color: #b7b7cc;
    border: 0;

    &::placeholder {
      color: #b7b7cc;
    }
  }
}
