.buttonContainer {
  border-radius: 0.25rem;
  background: var(--yellow-500);
  border: 0;
  padding: 1rem 4rem;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--purple-500);
  font-weight: bold;

  svg {
    width: 20px;
    height: 20px;
  }

  svg:first-child {
    margin-right: 1rem;
  }

  svg.closeIcon {
    margin-left: 1rem;
  }

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.95);
  }
}
