.headerContainer {
  height: 4rem;
  background: linear-gradient(180deg, #7b57fd 0%, #6135d7 100%) no-repeat;
  color: var(--white);
}

.headerContent {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 2px;

  display: flex;
  align-items: center;

  nav {
    margin-left: 5rem;
    height: 4rem;

    a {
      display: inline-block;
      position: relative;
      padding: 0 0.5rem;
      height: 4rem;
      line-height: 4rem;
      color: var(--gray-300);
      transition: color 0.2s;

      & + a {
        margin-left: 2rem;
      }

      &:hover {
        color: var(--white);
      }

      &.active {
        color: var(--white);
        //font-weight: bold;
      }

      &.active::after {
        content: "";
        height: 1px;
        border-radius: 3px 3px 0 0;
        width: 100%;
        position: absolute;
        bottom: 1px;
        left: 0;
        background: var(--yellow-200);
      }
    }
  }

  button {
    margin-left: auto;
  }

  .avatar {
    margin-left: auto;
    width: 40px;
    height: 40px;
  }
}
